// Variables

// Colors
$black: #444;
$white: #fffffa;
$rose: #ff9182;
$maroon: #6e5555;
$blue-dark: #0a3241;
$marigold: #ffc378;

// Brand Swatches
$brand-primary: $blue-dark;
$brand-secondary: $marigold;

// Custom cubic-bezier
$cubic-bezier: cubic-bezier(0.32,1,0.375,1);

// Padding/Margins
$global-margin: 64px;
$global-mobile-margin: #{$global-margin / 2};

// Grid max
$grid-max: 1088px;

// Breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 700px;
$breakpoint-md: 1000px;
$breakpoint-lg: 1200px;
