// Variables

// Colors
$black: #444;
$white: #fff;
$rose: #ff9182;
$maroon: #6e5555;
$blue-dark: #0a3241;
$marigold: #ffc378;

// Brand Swatches
$brand-primary: $blue-dark;
$brand-secondary: $marigold;

// Grid max
$grid-max: 960px;

// Breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 700px;
$breakpoint-md: 1000px;
$breakpoint-lg: 1200px;
