//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  @extend .font-body;
  background: $white;
  color: $brand-primary;
  @include media-md {
    padding-top: 242px;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: normal;
}

p {
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5em;
}

a {
	color: inherit;
  &:focus {
    outline: none;
  }
}

img {
  height: auto;
	max-width: 100%;
}

// Utility classes
.visually-hidden { // http://a11yproject.com/posts/how-to-hide-content/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }
.hidden { // http://a11yproject.com/posts/how-to-hide-content/
  display: none;
  visibility: hidden;
}

.global-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  background: rgba($white, .9);
  transition: opacity .2s ease-out;
  &.-active {
    opacity: 1;
  }
}

.wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  max-width: $grid-max;
  padding: 0 #{$global-margin / 2};
  @include media-sm {
  padding: 0 $global-margin;
  }
}

.site-main {
  opacity: 1;
  background: $white;
  position: relative;
  transition: opacity 1s ease-out;

  &.hash-loading {
    opacity: 0;
  }

  .sceneElement {
    padding: 0;
    transition: padding .5s ease-out;
    @include media-md {
      padding: $global-margin 0 0;
    }
    &:empty {
      padding: 0;
    }
  }
}