// Footer

.site-footer {
  padding: $global-margin 0;
  background: $brand-primary;  
  margin-top: $global-margin;
  transition: margin .5s ease-out;

  @include media-md {
    margin-top: $global-margin * 2;
  }
}

// Oyez Logo
.affiliates {
  display: block;
  .logo {
    margin: 0;
    float: left;
    display: inline-block;
    a {
      opacity: .5;
      display: block;
      position: relative;
      &:hover, &:focus, &:active {
        opacity: 1;
      }
    }
  }
  .oyez {
    margin-right: 20px;
    a {
      img {
        height: 30px;
        @include media-sm {
          height: 50px;
        }
      }
    }
  }
  .iscotus {
    a {
      img {
        height: 28px;
        @include media-sm {
          height: 45px;
        }
      }
    }
  }
}