// Home page

body[data-bodyClass=index] {
  background: $brand-primary;
  @include media-sm {
    padding-top: 0;
  }

  .site-header {
    position: relative;
    padding-top: $global-margin;
    background: url('../images/home.jpg') no-repeat $brand-primary;
    background-size: cover;
    transition: min-height .75s ease-out, padding .25s ease-out;
    // transition-delay: .25s;
    @include media-sm {
      height: 85vh;
      min-height: 600px;
      padding: 120px 0 0;
    }
    
    h1 {
      margin-top: 0;
      font-size: 96px;
      margin-bottom: 0;
      line-height: .78125em;
      will-change: font-size;
      br {
        display: block;
      }
    }

    h2 {
      display: block;
      line-height: 1;
      font-size: 16px;
      max-width: 300px;
      @extend .font-bold;
      position: relative;
      text-transform: none;
      margin: 0 0 $global-mobile-margin 4px;
      &::before {
        left: 0;
        top: -4px;
        width: 3px;
        height: 1px;
        content: '';
        background: $rose;
        position: absolute;
      }
    }

    @include media-sm {  
      h1 {
        font-size: 96px;
        line-height: .833333333em;
      }

      h2 {
        max-width: 200px;
      }
    }
  }

  .site-nav {
    height: 270px;

    &:not(.sub-nav-active) {
      ul.nav-list > div > li:not(.un-hover) > a {
        opacity: 1;
      }
    }

    ul.nav-list {
      border-bottom: none;

      > div > li {
        @include media-sm {
          font-size: 32px;
        }
        > a {
          .chapter-numeral {
            display: block;
            &::after {
              display: block;
            }
          }
        }
      }
    }

    @include media-sm {
      left: 0;
      right: 0;
      top: 100%;
      height: auto;
      position: absolute;
      transform: translateY(-100%);

      ul.nav-list {
        height: 204px;
        border-bottom: 1px solid $brand-secondary;

        .wrap {
          height: 204px;
        }
      }
    }
  }

  .header-background-slides {
    .image-1 {
      .photo-credit {
        .credit {
          opacity: 1;
        }
      }
    }
    .image-2 {
      display: none;
    }
  }

  .site-footer {
    margin-top: 0;
  }

  // When nav is active on home page
  &.nav-active {
    .site-nav {
      &.sub-nav-active {
        height: 70vh;
        transform: translateY(0);

        ul.nav-list {

          .wrap {
            height: 240px;
          }
        }

        .sub-nav {
          padding-top: 0;
          height: calc(70vh - 240px);
          padding-bottom: $global-mobile-margin;
        }

        @include media-sm {
          top: 120px;
          ul.nav-list {
            height: 122px;

            > div > li {
              @include media-sm {
                font-size: 24px;
              }
            }

            .wrap {
              height: 122px;
            }
          }

          .sub-nav {
            height: calc(70vh - 122px);
            padding-top: $global-margin;
          }
        }
      }
    }

    .site-header {
      padding: $global-margin 0 0;

      h1 {
        font-size: 24px;
        line-height: 1em;
        max-width: 200px;
        @extend .font-display;
        letter-spacing: -.01em;
        a {
          text-decoration: none;
        }

        @include media-sm {
          margin: 0 0 #{$global-margin / 2};
        }
      }

      h2 {
        margin: 0;
        display: none;
        font-size: 16px;
        max-width: 200px;
        @extend .font-bold;
        text-transform: none;
      }
    }
  }
}